* {
box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url(font/Montserrat-Bold.ttf);
 
  }
  @font-face {
    font-family: myFirstFont1;
    src: url(font/Great_Wishes.otf);
  }
  * {
    box-sizing: border-box;
  }
  h1 {
      font-family: myFirstFont1;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .pi {
    border: 2px solid black;
    background-color: #a7a2a2;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    text-align: center;
    margin: 20px 20px 20px 20px;
  }
  #p1{
    background-color: #f790e5;
    border: 2px solid black;
    width: 25%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    font-family: myFirstFont;
    text-align: center;
    color: black;
      position:sticky;
      margin-top: 0px;
    margin-right: 0px;
}
  
#p2{
    background-color: #A52A2A;
    border: 2px solid rgb(14, 13, 13);
    width: 25%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    font-family: myFirstFont;
    text-align: center;
    color: rgb(247, 244, 244);
    position:sticky;
    margin-top: 0px;
  margin-right: 0px;
}
#p3{
    background-color: #f8f18f;
    border: 2px solid black;
    width: 25%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    font-family: myFirstFont;
    text-align: center;
    color: black;
    position:sticky;
    margin-top: 0px;
  margin-right: 0px;
}
  .row {
    width: 100%;
  }
  @media (min-width: 992px) {
      .pi{
          height: max-content;
      }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  @media (max-width: 991px) and (min-width: 768px)
  {
    .pi{
        height: max-content;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid green;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  @media (min-width: 0px) and (max-width:767){
    .pi{
        height: max-content;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-md-10, .col-sm-11, .col-sm-12 {
      float: left;
      border: 1px solid green;
    }
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }
  